.responsiveContainer {
    width: 100%;
    max-width: 800px;

    /* Définir une largeur maximale pour les écrans de taille moyenne */
    @media only screen and (max-width: 800px) {
        max-width: 600px;
    }

    /* Définir une largeur maximale pour les écrans de petite taille */
    @media only screen and (max-width: 600px) {
        max-width: 400px;
    }
}